.container{
    font-family: "poppins";
    padding: 1.2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 80vh;
    gap: 4rem;
    padding-inline: 2rem;
}

.mainContainer_left{
    flex:0.5;
}
.mainContainer_right{
    flex:0.5;
}

.mainContainer_left > p:nth-child(1) {
    font-size: 3.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #000000, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* fallback */
}




.mainContainer_left > p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 500;
    color: #0e0303;
    margin-top: 1rem;
}
.mainContainer_left > p:nth-child(3) {
    font-size: 2.0rem;
    font-weight: 500;
    color: #0e0303;
    margin-top: 1rem;
}

.mainContainer_left > div.buttonJoin{
    width:fit-content;
    cursor:pointer;
    user-select: none;
    transition:all 0.3s ;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    background:rgb(215, 66, 173) ;
    color : white;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-family: "poppins";
    text-align: center;
    text-decoration: none;

}